@font-face {
  font-family: 'Commissioner';
  src: local('Commissioner'),
    url(../public/Commissioner_VF_1.001.ttf) format('truetype-variations');
}

.notifications-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.notifications-container > .toast {
  background-color: white;
}

body {
  font-family: 'Commissioner';
  font-weight: 400;
  font-size: 1.15rem;
}

.ui.form {
  font-size: 1.15rem;
}
.ui.menu {
  font-family: 'Commissioner';
  font-size: 1.15rem;
}

h1 h2 h3 h4 {
  font-family: 'Barlow';
  font-weight: 900;
  font-size: 2.25rem;
}

code {
  font-family: 'JetBrains Mono';
}

.ui.button {
  font-family: 'Commissioner';
  text-transform: uppercase;
  font-weight: 500;
}

.branded-title {
  font-family: 'Barlow';
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(188, 188, 188));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
}

.ui.secondary.menu {
  /* background: rgb(255, 255, 255); Custom Navbar background*/
}

.ui.secondary.menu .active.item {
  font-weight: 600;
}

.standard_button {
  width: 100%;
  max-width: 100px;
}

.select_button {
  border: none;
  font-size: 1.5rem;
  box-shadow: none !important;
}

.ui.positive.button {
  background-color: #00831f;
}

.ui.primary.button {
  background-color: #01395f;
}

.frontText {
  align-self: center;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
  margin: 20px;
  display: block;
}

.navbar {
  background-color: #f9fafb;
  box-shadow: 0px 1px 2px 0px rgba(34, 36, 38, 0.08),
    0px 1px 5px 0px rgba(34, 36, 38, 0.15);
}

.ui.segment.instructionBox {
  border: 1px solid rgba(34, 36, 38, 0.1);
  border-radius: 0.75rem;
  box-shadow: 1px 2px 2px 0px rgba(34, 36, 38, 0.08),
    3px 2px 10px 0px rgba(34, 36, 38, 0.15);
  font-size: 1.1rem;
  font-weight: 450;
}

.center.aligned.column.incolumn {
  padding: 1%;
}

a {
  color: #0058af;
}
